body {
  background-color: #ffffff;
}

.main-wrapper {
  width: 1000px;
  height: 750px;
  position: relative;
  margin: auto;
}

.pageLoader {
  position: absolute;
  background: url("../images/loader.gif");
  background-repeat: no-repeat;
  border: solid 1px #cccccc;
  background-position: center;
  top: 0;
  left: 0px;
  width: 998px;
  height: 748px;
  z-index: 100;
}

.pageBlocker {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #cccccc;
  top: 0;
  left: 0px;
  width: 998px;
  height: 748px;
  z-index: 999;
}